a {
  color: white;
  text-decoration: none;
}

ul,p,h2,h3 {
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

li {
  list-style-type: none;
  padding: 0;
}



@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
body {
  background: rgb(7,17,11);
  background: radial-gradient(circle, rgba(7,17,11,1) 0%, rgba(0,0,0,1) 100%);
}
main {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  color: white;
  width: 54rem;
  margin: 5rem auto;
}